{% extends "base.html" %}

{% block content %}
<div class="auth-container">
    <h2>Login</h2>
    <form method="post">
        {% csrf_token %}
        {% for field in form %}
        <div class="form-group">
            {{ field.label_tag }}
            {{ field }}
            {{ field.errors }}
        </div>
        {% endfor %}
        {% if form.non_field_errors %}
        <div class="form-group">
            {{ form.non_field_errors }}
        </div>
        {% endif %}
        <button type="submit" class="btn">Login</button>
    </form>
    <p style="margin-top: 1rem; text-align: center;">Don't have an account? <a href="{% url 'register' %}"
            style="color: #e94560;">Register here</a>.</p>
</div>
{% endblock %}